@font-face {
  font-family: yekan;
  src: url(./Components/Font/Yekan.ttf);
}

html {
  font-size: 62.5%;
}

:root{
  --main-green : #02ae02;
  --main-white : #fff;
  --dark : #111;
  --light-gray: #eceff7;
  --light-green: #02ae024d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: yekan,Arial, Helvetica, sans-serif !important;
  height: 100vh;
  line-height: 1.6;
  font-size: 1.6rem !important;
  direction: rtl;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #1e83f0;
}

ul{
  list-style-type: none;
}
